.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .not-found-content {
    text-align: center;
  }
  
  .not-found-heading {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .not-found-text {
    font-size: 1.5rem;
  }
  
  .not-found-image {
    margin-left: 2rem;
  }
  
  @media (max-width: 768px) {
    .not-found-container {
      flex-direction: column;
    }
  
    .not-found-image {
      margin-left: 0;
      margin-top: 2rem;
    }
  }
  